Data Types and Structures





1. What are data structures, and why are they important?
   - In Python, data structures are ways of organizing, storing, and managing data so that it can be accessed and modified efficiently.

2. Explain the difference between mutable and immutable data types with examples.
   - In python, mutable data types can be modified after they are created, while immutable data types cannot. Lists, dictionaries, and sets are mutable, whereas strings and tuples are immutable.

3. What are the main differences between lists and tuples in Python?
   - In Python, lists and tuples both store collections of data, but differ in mutability, performance and memory usage. Lists are mutable, allowing modifications, while tuples are immutable. Choosing between them depends on whether you need to modify the data or prioritize performance and memory efficiency.

4. Describe how dictionaries store data.
   - Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

5. Why might you use a set instead of a list in Python?
   - Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

6. What is a string in Python, and how is it different from a list?
   - A string represents a series of characters enclosed in either single or double quotation marks. A list consists of a collection of elements, with each element capable of being any type such as an integer, float, string, etc.

7. How do tuples ensure data integrity in Python?
   - Tuples in Python maintain data integrity mainly due to their immutable nature. This feature implies that after a tuple is formed, its elements cannot be altered, appended to, or eliminated.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that represents an associative array, commonly referred to as a dictionary or map. It holds pairs of keys and values while using a hash function to translate keys into indices within a base array. This translation facilitates quick access to values associated with their respective keys. The hash function generates a numerical hash code based on a specific key, which is then utilized to identify the index for storing or retrieving the key-value pair.

9. Can lists contain different data types in Python?
   - Yes, lists in Python can contain elements of different data types.
   Numbers,strings,boolean.

10. Explain why strings are immutable in Python?
    - In Python, strings are immutable, which means that once a string object is made, its contents cannot be modified.

11. What advantages do dictionaries offer over lists for certain tasks?
   - Dictionaries in Python allow for any hashable object to be used as a key, not just integers or strings.
   Dictionaries can be used to represent complex data structures, such as trees and graphs, as well as simple key-value pairs.

12. Describe a scenario where using a tuple would be preferable over a list?
    - If you want the data in your collection to be read-only, never to change, and always remain the same and constant then a tuple would be preferable over a list.

13. How do sets handle duplicate values in Python?
    - Python sets are specifically created to store only unique elements.
      Sets handle duplicate values in Python by
      - Automatic Removal during Creation
      - Ignoring Duplicates during Addition.

14. How does the “in” keyword work differently for lists and dictionaries?
    - The in operator uses different algorithms for lists and dictionaries. For lists, it uses a search algorithm and for dictionaries it returns two values true or false.

15.  Can you modify the elements of a tuple? Explain why or why not?
     - No, you cannot directly modify the elements of a tuple in Python. Tuples are immutable, meaning their contents cannot be changed after creation. This immutability is a core characteristic of tuples.

16.  What is a nested dictionary, and give an example of its use case?
    - A nested dictionary is a dictionary where at least one of the values is itself a dictionary. It's a way to represent hierarchical or structured data within a dictionary structure. This allows you to organize and access complex information efficiently.
     - Imagine you're storing information about students in a class. Each student has a name, and associated with that name is a dictionary containing their age, major, and contact details.

17. Describe the time complexity of accessing elements in a dictionary?
    - Accessing elements in a dictionary typically has a time complexity of O(1) on average, which means it takes constant time regardless of the dictionary's size. This is because dictionaries use a hash table internally to store and retrieve data, and hash table lookups are generally very fast.
     
18. In what situations are lists preferred over dictionaries?
   - For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

In [1]:
# Write a code to create a string with your name and print it?

my_name = "Shaikh Anwar"
print(my_name)

Shaikh Anwar

In [2]:
# Write a code to find the length of the string "Hello World"?

l = "Hello World"
length = len(l)
print("Length of the string:", length)

Length of the string: 11

In [3]:
# Write a code to slice the first 3 characters from the string "Python Programming"?

s = "Python Programming"
first_three = s[:3]
print("First 3 characters:", first_three)

First 3 characters: Pyt

In [4]:
# Write a code to convert the string "hello" to uppercase?

s = "hello"
uppercase_s = s.upper()
print(uppercase_s)

HELLO

In [5]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"?

s = "I like apple"
new_s = s.replace("apple", "orange")
print(new_s)

I like orange

In [6]:
# Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
# Write a code to append the number 10 to the list [1, 2, 3, 4].

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
#  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [9]:
#  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [10]:
# Write a code to reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]
reversed_numbers = numbers[::-1]
print(reversed_numbers)

[50, 40, 30, 20, 10]

In [11]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [12]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

In [13]:
#  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

In [14]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [15]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits_tuple = ("apple", "banana", "orange")
is_kiwi_in_tuple = "kiwi" in fruits_tuple
print(is_kiwi_in_tuple)

False

In [16]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [17]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [18]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [19]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [20]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [22]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {
    "name": "Anwar",
    "age": 29,
    "city": "Akola"
}

print(person)

{'name': 'Anwar', 'age': 29, 'city': 'Akola'}

In [23]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [25]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [26]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
city_exists = 'city' in person
print(city_exists)

True

In [29]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dictionary = {'name': 'John', 'age': 25}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dictionary)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'John', 'age': 25}

In [33]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result (replaced).

import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted List:", random_numbers)

Sorted List: [11, 27, 59, 80, 88]

In [34]:
# Write a code to create a list with strings and print the element at the third index.

my_list = ["apple", "banana", "cherry", "date", "elderberry"]
third_element = my_list[2]
print("Third Element:", third_element)

Third Element: cherry

In [35]:
# Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [36]:
# Write a code to convert a list of strings into a set.

my_list = ["apple", "banana", "cherry", "apple", "banana"]
my_set = set(my_list)
print("Set:", my_set)

Set: {'cherry', 'banana', 'apple'}